.idea
symfony.lock
yarn.lock
composer.lock
_temp
.php-cs-fixer.cache

###> symfony/framework-bundle ###
.env

/public/staltor

/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/cache
/var/log
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> tools ###
/tools/vendor
###< tools ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
/public/locodio_app/
/public/dist/
/public/docs/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###


###> qossmic/deptrac-shim ###
/.deptrac.cache
###< qossmic/deptrac-shim ###
