{# #}
{# This file is part of the Lodoc.io software. #}
{# #}
{# (c) Koen Caerels #}
{# #}
{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}
{# #}

{% extends '@lodocio/Viewer/base.html.twig' %}

{% block body %}

    <div class="mt-8 text-center">

        <div class="text-3xl">
            ¯\_(ツ)_/¯
        </div>
        <div class="text-xs mt-4">
            Document not available.
        </div>

    </div>

{% endblock %}