:root {
  scroll-behavior: smooth;
  --c-brand: #0066FF;
  --c-brand-light: #639FF1;
  --c-bg: #EEE;
  --c-border: #CCC;
  --c-border-dark: #639FF1;

  --c-tip: #639FF1;

}

html.dark {
  --c-brand: #639FF1;
  --c-brand-light: #0066FF;
  --c-tip: #0066FF;
}

.home .hero img {
  max-width: 150px !important;
  height: auto;
}

#main-title {
  display: none;
}