/*
* This file is part of the Locod.io software.
*
* (c) Koen Caerels
*
* For the full copyright and license information, please view the LICENSE
* file that was distributed with this source code.
*/

.editor-is-active {
    background-color: white !important;
    @apply dark:bg-gray-600 !important;
}

.ProseMirror {
    /*border: 1px solid silver;*/
    @apply p-4 !important
}

.ProseMirror:focus {
    outline: none;
}

pre {
    @apply bg-gray-200 p-2 rounded-md border-gray-300 border-[1px] border-gray-400 text-gray-800 dark:bg-gray-700 dark:text-gray-100;
    font-family: 'Fira Code', monospace !important;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    margin-bottom: 10px;
}

code {

}

blockquote {
    @apply pl-4 border-l-2 border-gray-300 dark:border-gray-600
}

.content-wrapper p {
    @apply dark:text-white;
    margin-bottom: 16px;
    @apply font-serif;
    @apply text-black;
    line-height:1.5rem;
}

.content-wrapper ul, .content-wrapper ol {
    margin-left: 16px;
    margin-bottom: 16px;
}

.content-wrapper ul li {
    @apply font-serif;
    list-style: disc;
}

.content-wrapper ol li {
    @apply font-serif;
    list-style: number;
}

ul li p, ol li p {
    padding: 0;
    margin: 0 !important;
}