{# #}
{# This file is part of the Locod.io software. #}
{# #}
{# (c) Koen Caerels #}
{# #}
{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}
{# #}

<div class="flex flex-row border-b-[1px] bg-gradient-to-r from-black from-1% via-indigo-900 via-30% to-green-700">
    <div class="basis-1/6">
        <div class="p-2">
            <a href="/"><img src="{{ asset('locodio_w.svg') }}" width="120"></a>
        </div>
    </div>
    <div class="basis-5/6 mr-5 text-white">
        <div class="flex flex-row-reverse mt-2 font-semibold">
            <div class="ml-4 border-l-[1px] border-white pl-4">
                <a class="hover:border-indigo-100 hover:border-b-[3px] hover:text-indigo-100 flex gap-2 block"
                   href="https://github.com/locod-io" target="_blank">
                    <div>GitHub</div>
                    <div><img style="mix-blend-mode: multiply;"
                         src="https://github.githubassets.com/images/modules/site/icons/footer/github-mark.svg"
                         class="mt-0.5 text-white"></div>
                </a>
            </div>
            <div class="ml-4 border-l-[1px] border-white pl-4">
                <a class="hover:border-indigo-100 hover:border-b-[3px] hover:text-indigo-100"
                   href="/docs">Documentation</a>
            </div>
            <div class="ml-4 border-l-[1px] border-white pl-4">
                <a class="hover:border-indigo-100 hover:border-b-[3px] hover:text-indigo-100"
                   href="{{ path('app_login') }}">Login</a>
            </div>
            {% if app_has_registration == 'true' %}
            <div class="ml-4 pl-4">
                <a class="hover:border-indigo-100 hover:border-b-[3px] hover:text-indigo-100"
                   href="{{ path('app_sign_up') }}">Sign Up</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
