{# #}
{# This file is part of the Locod.io software. #}
{# #}
{# (c) Koen Caerels #}
{# #}
{# For the full copyright and license information, please view the LICENSE #}
{# file that was distributed with this source code. #}
{# #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>{% block title %}locod.io | welcome{% endblock %}</title>
    <meta name="description" content="locod.io is a free and open-source web application for data-modeling and code generation. With its template based approach, locod.io can generate code for any kind of languages.">
    <meta name="keywords" content="locodio,locod.io,modeling,data modeling,modelling,data modelling,code generation,code generator,source code,templates">
    <script src="/assets/cookieconsent.min.js"></script>
    {% include 'cookie-consent.html.twig' %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('tailwind') }}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('tailwind') }}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}

{% block footer %}
    <div id="footer">
        <div class="text-gray-400">
            <div class="mx-auto" style="max-width:820px;">
                <div class="flex">
                    <div class="text-xs text-gray-400 flex">
                        <div>
                        <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/4.0/" class="mx-auto">
                            <img alt="Creative Commons License" style="border-width:0" class="mx-auto" width="50"
                                src="https://i.creativecommons.org/l/by/4.0/88x31.png"/>
                        </a>
                        </div>
                        <div class="ml-2">
                        This website is licensed under a
                        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a>&nbsp;
                        </div>
                    </div>
                    <div>
                        | <a href="/docs/about/privacy_policy.html">Privacy Policy</a>
                        | Made with <span class="text-red-600">&#10084;</span> in Belgium
                    </div>
                    <div class="flex ml-1.5 h-3 mt-0.5">
                        <div class="bg-black w-2">&nbsp;</div>
                        <div class="bg-yellow-400 w-2">&nbsp;</div>
                        <div class="bg-red-600 w-2">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if get_environment() == 'prod' %}
<script async src="//static.getclicky.com/101384453.js"></script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101384453ns.gif" /></p></noscript>
{% endif %}

{% endblock %}

</body>
</html>