body {
    margin: 0;
    background: #FEF6F5 linear-gradient(#FDE7E5, #FEF6F5) no-repeat;
    font-family: 'Inter', 'Roboto', 'Helvetica', 'sans-serif';
}

#footer-wrapper {
    position: fixed;
    display: block;
    bottom: 2%;
    text-align: center;
    left: 0;
    right: 0;
}

#footer {
    display: block;
    text-align: center;
    font-size: .7em;
    margin-left: auto;
    margin-right: auto;
}

#background-color {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 40%;
}

